/.bundle

/log/*
!/log/.keep
/tmp

# Ignore export files
*.exp

/node_modules
/yarn-error.log

# Ignore all of coverage except for last_run.json
/coverage/index.html
/coverage/assets/*
/coverage/.resultset.*

/spec/examples.txt

# Local overcommit configuration
.local-overcommit.yml

# Ignore key files for decrypting credentials and more.
/config/credentials/*.key
