/.bundle

/log/*
!/log/.keep
/tmp

# Ignore application configuration
/config/application.yml
/config/database.yml

# Ignore export files
*.exp

/node_modules
/yarn-error.log

# Ignore all of coverage except for last_run.json
/coverage/index.html
/coverage/assets/*
/coverage/.resultset.*

/spec/examples.txt
