table {
  width: 100%;
}
td, th {
  padding: 0 0.5em;
}
th{
  background: #e0e7eb;
  text-align: center !important;
}
.triple-zoom {
  zoom: 3;
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  -o-transform: scale(3);
  -moz-transform: scale(3);
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
input[type="checkbox"]{
  margin: 0 0 0.3em !important;
}