default: &default
  adapter: mysql2
  pool: 5
  timeout: 5000
  encoding: utf8mb4
  collation: utf8mb4_unicode_520_ci

development:
  <<: *default
  database: stop_project_development

test:
  <<: *default
  database: stop_project_test
