default: &default
  adapter: mysql2
  username: stop-project
  password: bananas
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: stop_project_development

test:
  <<: *default
  database: stop_project_test
