/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background: #d7bea3 !important;
  font-size: 400% !important;
}

#main-panel{
  border: 3px solid #528cad;
  border-radius: 6px;
  margin: 1em;
}

.page-title{
  background: #e0e7eb;
  border-radius: 6px;
  font-size: 50px;
  text-align: center;
  margin-bottom: 1em;
}

.smalltext{
  font-size: 50%;
}

button.btn.btn-default{
  font-size: 30px;
  border: 2px solid grey;
  border-radius: 6px;
  margin-left: 10px;
}
