$primary: #337ab7;
$secondary: #d7bea3;
$light: #e0e7eb;

@import "bootstrap";
@import "navbar";

.page-title{
  background: $light;
  border-radius: $border-radius;
  text-align: center;
  margin-bottom: 1rem;
}
