table.stops{
  text-align: center;
}

table.stops th{
  text-align: center;
  padding-left: 0.5em;
}

.glyphicon-ok{
  color: green;
}

.glyphicon-remove{
  color: red;
}

table.stop-form td{
  padding: 0.25em 1em;
}

input[type=checkbox]{
  transform: scale(2,2);
}

input.btn.btn-primary.submit{
  font-size: 30px;
}
