.last-updated{
  margin-bottom: 1em;
}

table.index{
  text-align: center;
}

table.index th{
  border-bottom: 1px solid lightgrey;
  text-align: center;
  padding: 0 10px;
}

table.index td{
  text-align: center;
  padding: 0 0.5em;
}

table.edit-form td{
  padding: 0.25em 1em;
}

input[type=checkbox]{
  transform: scale(4);
}

input[type=radio]{
  transform: scale(2,2);
}

select {
  width: 10em;
}

input.btn.btn-primary.submit{
  font-size: 30px;
}
