.last-updated{
  margin-bottom: 1em;
}

table.index{
  text-align: center;
}

table.index th{
  border-bottom: 1px solid lightgrey;
  text-align: center;
  padding: 0 10px;
}

table.index td{
  text-align: center;
  padding: 0 0.5em;
}

.glyphicon-ok{
  color: green;
}

.glyphicon-remove{
  color: red;
}

/* Temporary */
form .checkbox {
  label {
    padding-left: 80px;
  }
  input[type=checkbox]{
    transform: scale(4);
    margin-left: -80px;
  }
}

input.btn.btn-primary.submit{
  font-size: 30px;
}
