= link_to stop.name_with_id,
          edit_bus_stop_path(stop.hastus_id),
          class: 'list-group-item list-group-item-action',
          role: 'option', data: { autocomplete_label: stop.name, autocomplete_value: stop.hastus_id }
