.page-title Route #{@route.number} Bus Stops

- if @stops.empty?
  No stops on this route
- else
  - @stops.each_pair do |complete, stops|
    - if complete
      Completed Stops
    - else
      Not Completed
    Stops
    %ul
    - stops.each do |stop|
      %li
        = link_to edit_bus_stop_path(stop.hastus_id) do
          - stop.name
