.page-title Route #{@route.number} Bus Stops

- if @stops.empty?
  No stops on this route
  %ul
    - @stops.each do |stop|
      %li
        = link_to edit_bus_stop_path(stop.hastus_id) do
          - stop.name

