.page-title Route #{@route.number} Bus Stops

- if @stops.empty?
  No stops on this route
- else
  - @inc_and_comp.each_pair do |complete, stops|
    - if complete
      %ul
        Completed Stops
    - else
      %ul
        Incomplete Stops
    - stops.each do |stop|
      %li
        = link_to edit_bus_stop_path(stop.hastus_id) do
          - stop.name
