.page-title Route #{@route.number} Bus Stops

- if @stops.empty?
  No stops on this route
- else
  Completed
  - stop_list @stops.completed
  Not Completed
  - stop_list @stops.not_completed
  Pending
  - stop_list @stops.pending
