.page-title Route #{@route.number} Bus Stops

.container
  - @collection.each do |direction, bsrs|
    = direction + 'bound'
    - bsrs.each do |bus_stop_route|
      .row
        .col-sm-1=bus_stop_route.sequence
        .col-sm-7
          =link_to edit_bus_stop_path(bus_stop_route.bus_stop.hastus_id) do
            -bus_stop_route.bus_stop.name
        .col-sm-1
          = bus_stop_route.bus_stop.hastus_id
