.page-title Route #{@route.number} Bus Stops

= link_to 'View by status', by_status_bus_stops_path(number: @route.number)
%br
%br
.container
  - @collection.each do |direction, bsrs|
    = direction
    - bsrs.each do |bus_stop_route|
      .row
        .col-sm-1=bus_stop_route.sequence
        .col-sm-7
          =link_to edit_bus_stop_path(bus_stop_route.bus_stop.hastus_id) do
            -bus_stop_route.bus_stop.name
        .col-sm-1
          = bus_stop_route.bus_stop.hastus_id
