.page-title Field Guide

%strong Materials needed
– you will need a tape measure, measuring wheel, and camera.
%u Stop info
%ul
  %li
    %strong Stop name
    – this comes from Hastus, it cannot be changed.
  %li
    %strong Hastus ID
    – this comes from Hastus, it cannot be changed.
  %li
    %strong Stop routes
    – this comes from Hastus, it cannot be changed.
  %li
    %strong Completed
    – Have all attributes been checked? You can only click it if each has
    been answered. Click submit once all items have been checked. It will
    return an error if an item is missing.
  %li
    %strong Garage responsible
    %ul
      %li
        %strong SATCo
        – everything else that has not been assigned to VATCo or UMTS.
      %li
        %strong VATCo
        – All of Northampton, Easthampton, Williamsburg; Hadley – Route 9;
        Holyoke – Jarvis Ave.
      %li
        %strong UMTS
        – All of Amherst, Belchertown, Sunderland, South Deerfield, Whately,
        Granby; South Hadley - 47, Route 116 From Amherst town line to MHC,
        MHC; UMass Campus.
  %li
    %strong State Road
    – is this stop located on a state road? Use Google maps to determine if
    it is a state road. State roads are numbered.
  %li
    %strong Needs Work
    – the scale is from 1-5 with 1 indicating it does not need work and 5
    indicating it needs immediate attention. The items you are checking are
    the sign, sign post, shelter, bench, bike loops, trash, TECHNOLOGY. You
    will need to push on each item to make sure it is not lose and inspect
    for damage and rust. If you select “5” please take pictures and email to
    your supervisor immediately.
    %ul
      %li
        %strong 1
        – No Issues: There are not issues with the stop.
      %li
        %strong 2
        – Needs cleaning no safety concerns: The shelter needs to be cleaned
        because there are postings not authorized by PVTA, graffiti, etc.
        There are no safety concerns and nothing needs to be replaced.
      %li
        %strong 3
        – Minor issues, non safety: There are minor issues such as you cannot
        read the bus stop sign it is faded but there are no safety concerns.
      %li
        %strong 4
        – Potential safety concerns: There are potential safety concerns such
        as rust is beginning to form and may require attention in the future.
      %li
        %strong 5
        – Immediate safety concerns: this stop has immediate concerns and
        repairs are needed. Examples might be the sign has been knocked over,
        the shelter has broken glass, metal is sticking out and causing a
        hazard, the bench has rusted out and moves when you touch it, the
        sign or the sign post is loose, the shelter is lose, real-time
        information is not working.
%u Sign
%ul
  %li
    %strong Sign type
    – Check to see what style sign is being used.
  %li
    %strong Stop Sticker
    – All signs should have a sticker with the stop number on it. It is
    located down on the bottom of the sign. It should be the same number as
    the Hastus ID number.
    %ul
      %li
        %strong No Sticker
        – there is no sticker. If there is no sign then select this.
      %li
        %strong Sticker Incorrect
        – there is a sticker but it does not match the stop number.
      %li
        %strong Sticker correct
        – there is a sticker at it matches the stop ID.
  %li
    %strong Route Sticker(s)
    – All signs should have a sticker with each route that services that
    stop. Cross check the stickers on the sign with the stop routes listed.
    %ul
      %li
        %strong No Sticker
        – there is no route sticker. If there is no sign then select this.
      %li
        %strong Sticker(s) Incorrect
        – there are stickers but they don’t match the stop routes. It could
        have extra routes, wrong routes or be missing routes.
      %li
        %strong Sticker(s) correct
        – the route stickers match the routes listed as servicing the route.
  %li
    %strong Mounting
    – How is the sign mounted?
    %ul
      %li
        %strong PVTA pole
        – On a PVTA owned Pole. Assume PVTA owns it if there are no other
        signs on it.
      %li
        %strong Utility pole
        – This could be a wooden/metal utility pole or a street light post.
      %li
        %strong City Pole
        – it is shared with a municipal pole such as a street sign, traffic
        or parking information sign.
      %li
        %strong Structure
        – the sign is mounted onto the side of a structure such as a building
        or the shelter.
      %li
        %strong No Sign
        – There is no sign posted.
  %li
    %strong Mounting direction
    – This is the direction the sign points to, it does not matter what it is
    mounted to. The square signs are all center mounted but the axe signs
    either point towards the street or away from it.
    %ul
      %li
        %strong Towards Street
        – the sign points towards the street. Typically an axe head style
        sign.
      %li
        %strong Away from street
        – the sign points away from the street. Typically an axe head style
        sign.

      %li
        %strong Center
        – it is mounted in the center of the sign. Typically a
        square sign.
      %li
        %strong No sign
        – there is no sign
  %li
    %strong Mounting clearance
    – Measure the distance from the bottom of our sign to the ground.
    %ul
      %li
        %strong No sign face
        – there is no sign.
      %li
        %strong Less than 60 inches.
      %li
        %strong 60-84 inches.
      %li
        %strong Greater than 84 inches.
  %li
    %strong Bolt on base
    – Is this a breakaway pole? Breakaway sign poles have bolts holding the
    sign post into the base.
%p
  %u Shelter
  %ul
    %li
      %strong Shelter
      – A shelter has protection from the rain and the sun and may or may not
      have protection on the sides.
      %ul
        %li
          %strong No shelter
          – there is no shelter.
        %li
          %strong PVTA Shelter
          – All PVTA shelters allow full visibility while in them. They are
          either open air or have glass panels which allows individuals to see
          in or out of. These are the modern, Victorian or dome listed in the
          shelter type below.
        %li
          %strong Other shelter
          – there may be a building with an awning passengers wait under or
          other structure, a shelter that is not a PVTA shelter. This does not
          include trees.
        %li
          %strong Nearby building
          – these can be small structures or other buildings. They are enclosed
          on at least three sides.
    %li
      %strong Shelter type
    %li
      %strong Shelter ADA compliant
      – The shelter must have at least three feet of clearance in front of the
      opening with no obstructions. The opening must be a minimum of 32 inches
      wide and 4 feet deep free of obstructions.
    %li
      %strong Shelter condition
      %ul
        %li
          %strong Great
          – shelter is brand new.
        %li
          %strong Good
          – minor scratching.
        %li
          %strong Fair
          – graffiti, moderate scratching.
        %li
          %strong Poor
          – damaged, rusting, leaks, Major scratching, missing glass.
        %li
          %strong No shelter.
    %li
      %strong Shelter pad condition
      %ul
        %li
          %strong Great
          – brand new pad.
        %li
          %strong Good
          – not new but not worried about the condition of the pad.
        %li
          %strong Fair
          – pad beginning to crack.
        %li
          %strong Poor
          – pad crumbling.
        %li
          %strong No shelter.
    %li
      %strong Shelter pad material
      – This is the material that the shelter is anchored into.
%u Amenities
%ul
  %li
    %strong Bench
    – Determine if the stop has a bench.
    %ul
      %li
        %strong PVTA Bench
        – the bench would be located in the shelter, is
        simple and has no back to it.
      %li
        %strong Other Structure
        – there is an area to sit on such as a
        wall.
      %li
        %strong Other Bench
        – there is a bench at the stop, it does not look
        like a PVTA bench, and is typically outside of the shelter.
      %li
        %strong None
        – there is no place to sit.
      %li
        %strong PVTA and other bench
        – there are both PVTA benches and
        other benches at the stop.
  %li
    %strong Bike rack
    – Determine if there are bike racks at or within 15 feet of the stop.
    %ul
      %li
        %strong PVTA Bike Rack
        – PVTA racks are single loops. Other Bike Rack – anything not a PVTA.
        rack
      %li
        %strong PVTA and Other Bike rack
        – there are both PVTA bike
        racks and other non-PVTA bike racks.
      %li
        %strong None
  %li
    %strong Schedule holder
    – determine if there is a bus schedule holder or not.
    %ul
      %li
        %strong On Pole
        – the schedule holder is on the pole not
        shelter. It can have schedules or information on
        how to access schedules.
      %li
        %strong In shelter
        – there is a schedule holder.
        in the shelter.
      %li
        %strong None
        – there are no schedule holders.
  %li
    %strong System map exists
    – Determine if there is a system map and if it is the old or new style.
  %li
    %strong Trash
    – Determine if there is a trash receptacle or one within 10’ of the stop.
%u Accessibility
%ul
  %li
    %strong Accessible
    – Can this stop be safely accessed? This could include a sidewalk, wide
    shoulder, or grass strip. Stops which are not accessible might be up
    against a guard rail, have a steep drop off or hill. In general if it
    feels safe (in regards to vehicular traffic) to walk to the stop and wait
    there then it is considered accessible. If there is a sidewalk at the stop
    it must go to a destination, intersection, or crosswalk.

  %li
    %strong Curb cut
    – Determine what the boarder is between the road and the bus stop. A curb
    cut is a small ramp that allows someone with a stroller or wheelchair to
    safely transition from the road to the stop area when there is a curb.
    These are typically found at crosswalks and intersections. If there are
    obstructions in the curb cut it does not count.
    %ul
      %li
        %strong Within 20
        – there is a curb and a curb cut within 20’ of the bus stop.
      %li
        %strong No curb cut
        – there is a curb but not a curb cut within 20’feet of the bus stop.
      %li
        %strong No curb
        – there is no curb and thus a curb cut is not needed.
  %li
    %strong Sidewalk width
    – Determine if there is a sidewalk at the bus stop location or not. Note
    the size of the side walk as well. To count as a sidewalk it must be paved,
    concrete, brick or another continuous hard path.
    %ul
      %li
        %strong More than 36”
        – the sidewalk is greater than 3 feet wide.
      %li
        %strong Less than 36”
        – the sidewalk is less than three feet wide. This would also include if
        there are obstructions.
      %li
        %strong None
        – there is no sidewalk.
    %li
      %strong Bus pull out exists
      – Is there a bus pull out at the stop? Wide shoulders do not count as
      pull-outs. The pull out can be a curbed pullout or a painted area for
      buses only.
    %li
      %strong ADA landing pad
      – Is there a 5’x8’ area free of obstructions that is
      paved/concrete/brick/some other hard surface at the bus stop. You do not
      need to measure the slopes.

    %li
      %strong Obstructions
      – Are there any obstructions which make servicing this stop difficult or
      cause damage. If there are please take a picture and email it to
      your supervisor with the stop location and ID number.
      %ul
        %li
          %strong Yes – tree/branches:
          tree branches hanging low which the bus might brush , blocking the
          bus sign, or growing up against the shelter.
        %li
          %strong Yes – bollard/structure:
          This can be objects at the bus stop preventing a bus from getting
          close to the curb or opening the doors.
        %li
          %strong Yes- sign/post:
          this could be a sign pole or telephone post.
        %li
          %strong Yes – parking:
          Parking spaces at the stop preventing the bus from safely servicing
          it.
        %li
          %strong Yes – other:
          Any other obstructions which prevents the bus from safely servicing
          the stop and opening both doors. Examples include trash bins, mail
          boxes, etc.
        %li
          %strong No:
          no obstructions.
%u Security and safety
%ul
  %li
    %strong Lighting
    – Determine if there is lighting at the bus stop and the distance. This could
    be a street lamp, PVTA solar powered light, lighting in the shelter,
    exterior lights mounted on a building etc.
    %ul
      %li
        %strong Within 20’
        – Light post 1- 20 feet from stop. This would include stops that have
        lighting in the shelter or solar power activated lighting on the post.
      %li
        %strong 20’ - 50’
        – light within 20 to 50 feet, typically a street lamp.
      %li
        %strong None
        – there is no lighting within 50 feet of the stop.
%u Technology
%ul
  %li
    %strong Solar lighting
    – Is there lighting in the shelter or on the sign post that is solar powered?
  %li
    %strong Has power
    – Is there power supplied at the stop from a non-solar source?
    %ul
      %li
        %strong Yes – stub up:
        there is a stub up by the shelter which could tie into power.
      %li
        %strong Yes – outlet:
        there is an outlet at the stop.
      %li
        %strong No:
        there is no power source there.
  %li
    %strong Real time information
    – Real time information which is at the stop, not in an adjacent building.
    You must be able to see and read it while waiting at a stop.
    %ul
      %li
        %strong Yes – Solar:
        these are solar powered and typically the count down
      %li
        %strong Yes – Power:
        Real time information that is not solar powered
      %li
        %strong No:
        no real time information
